<h4> Lakukan Latihan Berikut </h4>



1. Buatlah Tuple of Days dalam seminggu ("monday", ...), simpan dalam variabel "week" dan cetak
2. Berapa panjang dari "week"?
3. Gunakan count() untuk menghitung berapa kali kata "saturday" disebutkan dalam tuple
4. Carilah index dari "wednesday"
5. Tambahkan variabel "week" dengan (1, 2, 3, 4, 5, 6, 7)
6. Bagaimana untuk mendapatkan ("saturday", "sunday", 1, 2, 3)?

In [ ]:
# 1
week = ('monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday')
print (week)
print (type(week))

('monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday')
<class 'tuple'>

In [ ]:
# 2
print (len(week))

7

In [ ]:
# 3
week.count ('saturday')

1

In [ ]:
# 4
week.index ('wednesday')

2

In [ ]:
# 5
week = week + (1, 2, 3, 4, 5, 6, 7)
print (week)

('monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday', 1, 2, 3, 4, 5, 6, 7)

In [ ]:
# 6
print (week[5:10])

('saturday', 'sunday', 1, 2, 3)

<h4> Lakukan Latihan Berikut </h4>


1. Jika Anda ingin mengundang teman anda untuk makan malam, siapa yang akan anda undang? Buatlah daftar (list) yang menyertakan setidaknya tiga orang yang ingin anda undang untuk makan malam. Kemudian gunakan daftar (list) tersebut untuk mencetak pesan kepada setiap mereka bahwa anda mengundang mereka untuk makan malam.

2. Anda baru saja mendengar bahwa salah satu tamu Anda tidak dapat hadir makan malam. Oleh karena itu Anda perlu mengirimkan satu set undangan baru. Siapakah yang ada di pikiran anda untuk diundang. <br>
    - Lakukan langkah yang sama seperti pertanyaan nomor 1. Tambahkan dengan menyebut siapa yang tidak dapat hadir dalam makan malam ini.
    - Ubah daftar Anda, ganti nama tamu yang tidak bisa hadir dengan nama baru yang Anda undang. <br>
    - Cetak undangan ke-2 dengan nama tamu yang baru dalam makan malam tersebut. <br>

3. Anda baru saja menemukan meja makan yang lebih besar, jadi sekarang lebih banyak ruang tersedia. Pikirkan tiga tamu lagi untuk diundang makan malam.<br>
Mulailah dengan program dari Latihan 1 atau 2. Tambahkan dengan mencetak pernyataan di akhir program untuk memberi tahu bahwa akan ada tambahan anggota dikarenakan meja makan dapat menampung banyak orang. 

    - Gunakan insert () untuk menambahkan satu tamu baru ke awal daftar Anda.
    - Gunakan insert () untuk menambahkan satu tamu baru ke tengah daftar Anda.
    - Gunakan append () untuk menambahkan satu tamu baru ke akhir daftar Anda.
    - Cetak satu set pesan undangan baru, satu untuk setiap orang dalam daftar Anda.

4. Anda baru saja mendapat konfirmasi bahwa ada kesalahan reservasi untuk acara makan malam anda. Meja anda hanya dapat menampung 2 orang tamu.
    - Mulailah dengan program dari Latihan 3. Tambahkan baris baru yang mencetak pesan yang mengatakan bahwa Anda hanya dapat mengundang dua orang untuk makan malam.
    - Gunakan pop() untuk menghapus tamu dari daftar Anda satu per satu sehingga hanya dua nama tetap ada dalam daftar tersebut. Setiap kali Anda memunculkan nama dari daftar tersebut, cetaklah pesan kepada tamu anda dan beri tahu mereka bahwa Anda menyesal tidak dapat mengundang mereka untuk makan malam.
    - Cetak pesan kepada dua orang yang masih ada di daftar Anda, beritahukan mereka bahwa mereka masih diundang.
    - Gunakan del untuk menghapus dua nama terakhir dari daftar Anda. Cetak daftar Anda untuk memastikan bahwa daftar tersebut kosong.<br>
   Selamat mencoba

In [ ]:
# 1
teman = ['niko', 'bagas', 'dede']
for teman in teman:
  print ('Hai,', teman, 'saya mengundang kalian untuk hadir diacara ulang tahunku')

Hai, niko saya mengundang kalian untuk hadir diacara ulang tahunku
Hai, bagas saya mengundang kalian untuk hadir diacara ulang tahunku
Hai, dede saya mengundang kalian untuk hadir diacara ulang tahunku

In [ ]:
# 2
teman = ['niko', 'bagas', 'dede']
print (teman[2], 'tidak dapat hadir')
teman[2] = 'paris'
for teman in teman:
  print (teman)

dede tidak dapat hadir
niko
bagas
paris

In [ ]:
# 3
teman = ['niko', 'bagas', 'paris']
teman.insert (0, 'bayu')
print (teman)

teman.insert (2, 'ardi')
print (teman)

teman.append ('mohan')
print (teman)

for teman in teman:
  print (teman, 'ini undangan baru untuk anda')

['bayu', 'niko', 'bagas', 'paris']
['bayu', 'niko', 'ardi', 'bagas', 'paris']
['bayu', 'niko', 'ardi', 'bagas', 'paris', 'mohan']
bayu ini undangan baru untuk anda
niko ini undangan baru untuk anda
ardi ini undangan baru untuk anda
bagas ini undangan baru untuk anda
paris ini undangan baru untuk anda
mohan ini undangan baru untuk anda

In [ ]:
# 4
teman = ['bayu', 'niko', 'ardi', 'bagas', 'paris', 'mohan']
for teman in teman:
  if teman == 'niko':
    print (teman, 'saya masih mengundang anda untuk makan malam')
  elif teman == 'bagas':
    print (teman, 'saya masih mengundang anda untuk makan malam')
  else:
    print ('maaf', teman, 'saya tidak dapat mengundang anda untuk makan malam')

teman = ['bayu', 'niko', 'ardi', 'bagas', 'paris', 'mohan']
teman.pop (0)
teman.pop (1)
teman.pop (2)
teman.pop (2)
print (teman)

maaf bayu saya tidak dapat mengundang anda untuk makan malam
niko saya masih mengundang anda untuk makan malam
maaf ardi saya tidak dapat mengundang anda untuk makan malam
bagas saya masih mengundang anda untuk makan malam
maaf paris saya tidak dapat mengundang anda untuk makan malam
maaf mohan saya tidak dapat mengundang anda untuk makan malam
['niko', 'bagas']

In [ ]:
# 5
teman = ['niko', 'bagas']
for teman in teman:
  print (teman, 'anda masih diundang dalam acara makan malam')

niko anda masih diundang dalam acara makan malam
bagas anda masih diundang dalam acara makan malam

In [ ]:
# 6
teman = {'niko': 'diundang', 'bagas': 'diundang'}

del teman ['niko']
del teman ['bagas']
print (teman)

{}

<h4> Lakukan Latihan Berikut </h4>




1. Gunakan dictionary untuk menyimpan informasi tentang orang yang Anda kenal.
Simpan nama depan, nama belakang, umur, dan kota tempat mereka tinggal. Anda
akan memiliki kunci seperti first_name, last_name, age, dan city. Cetak masing-masing informasi yang disimpan dalam dictionary tersebut.

2. Gunakan dictionary untuk menyimpan nomor favorit orang.
Pikirkan lima nama, dan gunakan sebagai kunci dalam dictionary anda. Pikirkan favorit
nomor untuk setiap orang, dan simpan masing-masing sebagai nilai dalam distionary. Cetaklah setiap nama orang dan nomor favoritnya.

3. Buatlah function yang menyimpan informasi tentang mobil dalam dictionary. function tersebut harus selalu menerima nama produksi dan model.  Panggil function dengan informasi yang diperlukan dan dua pasangan, nama-nilai lainnya, seperti warna atau fitur (opsional). Fuction yang telah anda buat, harus berfungsi dengan cara memanggilnya seperto berikut:
         
          car = make_car('subaru', 'outback', color='blue', tow_package=True)

In [ ]:
# 1
teman = {'first_name': 'alfian', 'last_name': 'syach', 'age': 23, 'city': 'jakarta'}
print (teman)

for key, value in teman.items():
  print ('key = {} , value = {}'.format(key, value))

{'first_name': 'alfian', 'last_name': 'syach', 'age': 23, 'city': 'jakarta'}
key = first_name , value = alfian
key = last_name , value = syach
key = age , value = 23
key = city , value = jakarta

In [ ]:
# 2
nomor = {'niko': 1, 'bagas': 2, 'paris': 3, 'mohan': 4, 'bayu': 5}
print (nomor)

for key, value in nomor.items():
  print ('nomor favorit', key, 'adalah', value)

{'niko': 1, 'bagas': 2, 'paris': 3, 'mohan': 4, 'bayu': 5}
nomor favorit niko adalah 1
nomor favorit bagas adalah 2
nomor favorit paris adalah 3
nomor favorit mohan adalah 4
nomor favorit bayu adalah 5

In [55]:
# 3
def make_car(production, model, color, two_package):
  car = {'production': production,
         'model': model,
         'color': color,
         'two_package': two_package}
  return car

make_car('subaru', 'outback', 'blue', True)

{'production': 'subaru',
 'model': 'outback',
 'color': 'blue',
 'two_package': True}